<div class="panel panel-default " >
    <div class="panel-heading clearfix" >
        <h1 class="">{{ contact.name}}</h1>
        <img src="{{contact.imageUrl}}" alt="{{ contact.name}}" class="img-rounded ">
        <button class="btn btn-danger pull-right">Delete</button>
        <button class="btn btn-primary pull-right" style="margin-right: 5px;">Edit</button>
    </div>
    <div class="panel-body" >
        <p>Email: {{ contact.email }}</p>
        <p>Phone: {{ contact.phone }}</p>
    </div>
</div>